# URL base de la REST API externa (worldcup-stats-service)
# Ejemplo para desarrollo local: http://localhost:8080/api
# En Vercel, usar same-origin para activar el proxy definido en vercel.json
VITE_API_BASE_URL=http://localhost:8080/api

# Control de Mocks
# - true: Utiliza datos mockeados locales (desacoplado de la API externa)
# - false: Realiza llamadas reales HTTP a la API externa
VITE_USE_MOCK=true
